.Greetings {
  margin: 10px 0 21px 0;
}

.username-greeting {
  font-weight: 400;
  font-size: 34px;
  line-height: 36px;
  margin-bottom: 14px;
}

.TimeGreeting {
  line-height: 24px;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.18px;
}

.title {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #32496f;
}

.value {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #32496f;
  padding-top: 10px;
}

.status {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  margin-top: 10px;
}

.butt {
  width: 99px;
  margin: auto;
  margin-top:7px;
  margin-bottom:10px;
}

button.btn {
  text-transform: none;
  height: 37px;
}

.summary {
  display: flex;
  gap: 27px;
}

.summary-box {
  border-radius: 10px;
  border: 1px solid transparent;
  min-width: 249px;
  width: 100%;
  text-align: center;
}

.arrayItem {
  background-color: #fff5e5;
  padding: 23px 0px 22px 0px;
}

.arrayItem:hover {
  border: 1px solid #ffd899;
}

.arrayItem1 {
  background-color: #f2e7fe;
  padding: 33px 0px 33px 0px;
}
.arrayItem1:hover {
  border: 1px solid #c38efd;
}

.arrayItem2 {
  background-color: #e9f5fe;
  padding: 12px 0px 12px 0px;
}

.arrayItem2:hover {
  border: 1px solid #9ed3fd;
}

.arrayItem2 button.btn {
  background-color: #5fb9fc;
}

.arrayItem3 {
  background-color: #edf7ed;
  padding: 47px 0px 47px 0px;
}

.arrayItem3:hover {
  border: 1px solid #9ed3fd;
}

@media (max-width: 500px) {
  .username-greeting {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #32496f;
    margin-bottom: 8px;
  }

  .TimeGreeting {
    font-size: 14px;
    line-height: 24px;
    color: #5a585b;
  }

  .summary {
    flex-direction: column;
   
  }

  .butt {
    width: 99px;
    margin-left: 0px;
    
  }

  .summary-box{
    padding-left:40px;
    text-align:left;
  }
}

