.page-wrapper {
  display: flex;
  overflow: hidden;
  padding-top: 98px;
  padding-left: 259px;
  height: 100%;

  .layout {
    margin-top: 33px;
    width: 100%;

    .main-fit {
      padding-right: 109px;
    }
  }
}

.footer {
  padding-left: 188px;

  .copyright-wrapper {
    padding: 44px 109px 30px 70px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-top: 1px solid #dcd6e2;

    .footer-links {
      display: flex;
      gap: 10px;

      img {
        width: 30px;
        cursor: pointer;
      }
    }

    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.5px;
      color: #5a585b;
    }
  }
}
