$primaryBlue: #03051f;
$secondaryBlue: #32496f;

$primaryYellow: #f5821f;
$secondaryYellow: #d1711c;

$yellow_100: #ffb400;

$white: #ffffff;
$black: #000000;

$light_100: #fcfdff;

$grey_100: #a2a2a2;
$grey_200: #5a585b;
$grey_300: #dcd6e2;
$grey_400: #a6a4a8;

$dark_100: #161616;

$green_100: #b5d534;

$blue_100: #e9f5fe;
$blue_200: #c0dbf8;
$blue_300: #eff6ff;
$blue_600: #1a6ad7;
