@use "./partials/vars";
@use "./partials/colors";

@import "./partials/defaults";

.auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 59px 112px;

  .pane {
    width: 608px;
    height: 906px;
    box-shadow: 0px 48px 100px rgba(17, 12, 46, 0.15);
    z-index: 999;

    &-left {
      background-color: colors.$primaryBlue;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      position: relative;

      .dots-wrapper {
        position: absolute;
        top: 861px;
        left: 248px;
      }
    }

    p {
      margin-bottom: 0;
    }

    &-right {
      background-color: colors.$white;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      position: relative;
      padding: 0 123px 0 127px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .rect-1-img {
        position: absolute;
        top: 393px;
        right: 0;
      }

      .rect-2-img {
        position: absolute;
        top: 473px;
        right: 0;
      }

      .flag-wrapper {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 20px;
        margin-right: -1px;
      }

      .form-wrapper {
        text-align: center;

        .logo-wrapper {
          padding-bottom: 46px;

          .logo-img {
            width: 272px;
            height: 71px;
          }
        }

        .signin-text {
          font-weight: vars.$medium;
          font-size: 14px;
          line-height: 24px;
          letter-spacing: 0.1px;
          color: colors.$dark_100;
          margin-bottom: 20px;

          &--left {
            width: 252px;
            text-align: left;
            margin-top: 20px;
          }
        }

        .onetime-text {
          font-weight: vars.$medium;
          font-size: 18px;
          line-height: 24px;
          letter-spacing: 0.15px;
          color: colors.$dark_100;
          margin-bottom: 20px;

          span {
            color: colors.$primaryYellow;
          }
        }

        .form {
          .forgot-password {
            display: block;
            text-align: left;
            margin: 16px 0;
            font-weight: vars.$regular;
            font-size: 14px;
            line-height: 19px;
            letter-spacing: 0.0025em;
            color: colors.$secondaryBlue;
            width: fit-content;
          }

          .otp-wrapper {
            margin-top: 20px;

            .otp-text {
              font-weight: vars.$medium;
              font-size: 16px;
              line-height: 24px;
              text-align: center;
              letter-spacing: 0.5px;
              margin-bottom: 0 !important;

              &-1 {
                color: colors.$grey_200;
              }

              &-2 {
                color: colors.$secondaryBlue;
              }
            }
          }

          .signup {
            font-weight: vars.$medium;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.15px;
            margin-top: 20px;
            margin-bottom: 22px;

            &-new {
              color: colors.$secondaryBlue;
            }

            &-main {
              color: colors.$primaryYellow;
            }
          }

          .row .btn {
            width: 166px;
            margin-top: 6px;
          }
        }
      }
    }
  }
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// MODAL START - TO BE MOVED INTO OWN COMPONENT
.ant-modal-header,
.ant-modal-footer,
.ant-modal-close {
  display: none;
}

.ant-modal-content {
  width: 548px;
}

.ant-modal-body {
  .modal-container {
    width: 296px;
    margin: 0 auto;

    h2 {
      font-weight: 500;
      font-size: 24px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.18px;
      color: colors.$secondaryBlue;
    }

    .tc-img-wrapper {
      display: flex;
      justify-content: center;
      margin: 30px 0;

      .tc-img {
        width: 200px;
        height: 200px;
      }
    }

    .row-modal {
      .btn {
        width: 110px;
        margin-top: 0px;
      }
    }

    .tc-text {
      font-weight: vars.$medium;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.15px;

      &--black {
        color: colors.$black;
      }

      &--blue {
        color: colors.$secondaryBlue;
        margin: 30px 0 !important;
      }

      &--yellow {
        color: colors.$primaryYellow;
      }
    }
  }
}

// MODAL END

@media (max-width: 500px) {
  .auth-wrapper {
    background: colors.$white;
    padding: 50px 0;

    .pane {
      width: 500px;
      height: fit-content;
      box-shadow: none;

      &-left {
        display: none;
      }

      .rect-1-img,
      .rect-2-img {
        display: none;
      }

      &-right {
        padding: 0 31px;
        width: 100%;

        .form-wrapper {
          .form {
            .row .btn {
              width: 130px;
              margin-top: 6px;
            }
          }
        }
      }
    }
  }
}


.navbar {
  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 109px;
    height: 98px;
    background-color: colors.$white;
    border-bottom: 1px solid colors.$grey_300;
  }


  &-logo img {
    height: 50px;
    cursor: pointer;
  }

  &-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 237px;

    .notify img {
      width: 38px;
      height: 38px;
      cursor: pointer;
    }

    .profile-img {
      margin-right: 12px;
      margin-left: 20px;
      cursor: pointer;

      img {
        width: 55px;
        height: 55px;
        border-radius: 50%;
      }
    }

    .dropdown {
      border: 1px solid colors.$grey_300;
      border-radius: 20px;
      display: flex;
      align-items: center;
      gap: 17px;
      width: 100%;
      padding: 8.5px 12px 8.5px 24px;
      cursor: pointer;

      img {
        width: 12px;
        height: 8px;
      }

      &-text {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.4px;
        color: colors.$grey_200;
        margin-bottom: 0;
      }
    }
  }


}




.page-wrapper {
  display: flex;

  .sidebar {
    width: 240px;
    background-color: colors.$white;
    box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
    height: 88vh;
  }

  .main {
    padding-top: 33px;
    padding-left: 71px;
  }
}