.tab-content {
  background-color: #ffffff;
  margin-right: 109px;
  border-radius: 8px;
  box-shadow: 0px 48px 100px rgba(17, 12, 46, 0.15);

  .search-button {
    width: 88px;
    margin-bottom: 0px;
  }

  .search-box {
    width: 392px;
  }

  .search-box input {
    background-color: #f4f2ff;
  }

  .search {
    display: flex;
    gap: 20px;
    padding: 19px 0px 0px 20px;
  }
}

.history-table {
  width: 100%;

  .head {
    background-color: #f4f2ff;
    height: 45px;
    font-weight: 600;
    color: #6e6893;
    border-top: 1px solid #d9d5ec;
    border-bottom: 1px solid #d9d5ec;
  }

  tbody > tr {
    height: 45px;
    border-bottom: 1px solid #d9d5ec;
  }

  td {
    padding-left: 24px;
  }
  .form-group {
    gap: 0px;
  }

  .active {
    color: #ff9800;
    background-color: #fff5e5;
    border: 1px solid #fff5e5;
    padding: 3px 6px 3px 6px;
    border-radius: 5px;
  }

  .reversed {
    color: #007dff;
    background-color: #e8f5fe;
    border: 1px solid #e8f5fe;
    padding: 3px 6px 3px 6px;
    border-radius: 5px;
  }

  .liquidated {
    color: #4caf50;
    background-color: #edf7ed;
    border: 1px solid #edf7ed;
    padding: 3px 6px 3px 6px;
    border-radius: 5px;
  }

  .failed {
    color: #b00020;
    background-color: #feeceb;
    border: 1px solid #feeceb;
    padding: 3px 6px 3px 6px;
    border-radius: 5px;
  }
}
