@use "styles/partials/colors";
@use "styles/partials/vars";

.quick-loan-section {
  position: absolute;
  left: 137px;
  bottom: 78px;
  color: colors.$white;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    h2 {
      font-weight: 600;
      font-size: 24px;
      line-height: 24px;
      letter-spacing: 0.18px;
    }

    p {
      width: 236px;
      margin-top: 30px;
      font-weight: vars.$medium;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.5px;
      opacity: 0.9;
    }
  }
}
