@use "../partials/vars";
@use "../partials/colors";

.ant-tabs {
  font-family: "General Sans" !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 24px !important;
  letter-spacing: 0.3px !important;

  &-top > .ant-tabs-nav::before {
    border-bottom: 0.5px solid colors.$grey_400 !important;
  }

  &-nav {
    margin-bottom: 37px !important;
  }

  &-tab + .ant-tabs-tab {
    margin: 0 0 0 95px;
  }

  &-ink-bar {
    height: 5px;
    background: colors.$secondaryBlue !important;
  }

  &-bar {
    border-bottom: 1px solid green;
  }

  &-tab {
    padding-top: 0 !important;

    &-active {
      .ant-tabs-tab-btn {
        color: colors.$secondaryBlue !important;
      }
    }

    &-btn {
      color: colors.$grey_400 !important;
    }

    &-disabled {
      .ant-tabs-tab-btn {
        color: colors.$grey_400 !important;
      }
    }
  }
}
