@use "styles/partials/colors";

.navbar {
  position: relative;

  .notification {
    position: absolute;
    top: 105px;
    right: 10px;
    width: 428px;
    background-color: colors.$white;
    z-index: 10;
    box-shadow: 0px 48px 100px rgba(17, 12, 46, 0.15);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 2001;

    &-overlay {
      opacity: 0.4;
      background-color: black;
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 2000;
    }

    &-header {
      background-color: colors.$secondaryBlue;
      width: 100%;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      padding: 24px 20px;

      h3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        color: colors.$white;
        font-weight: 600;
        font-size: 34px;
        line-height: 36px;
      }
    }

    &-wrapper {
      padding: 24px 44px 33px 20px;

      .notification {
        &-card {
          border: 1px solid #dcd6e2;
          border-radius: 8px;
          padding: 9px 18px;
          margin-bottom: 16px;

          .top {
            display: flex;
            justify-content: space-between;
            padding-bottom: 7px;

            p {
              font-size: 16px;
              line-height: 24px;
              letter-spacing: 0.15px;
              color: colors.$secondaryBlue;
              font-weight: 500;
            }

            span {
              font-size: 14px;
              line-height: 24px;
              letter-spacing: 0.1px;
              color: colors.$grey_200;
              padding-right: 20px;
            }
          }
        }

        &-message {
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.5px;
          color: colors.$dark_100;
        }
      }
    }
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 109px;
    height: 98px;
    background-color: colors.$white;
    border-bottom: 1px solid colors.$grey_300;
    position: fixed;
    width: 100%;
    z-index: 999;
  }

  &-logo img {
    height: 50px;
    cursor: pointer;
  }

  &-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 237px;

    .notify img {
      width: 38px;
      height: 38px;
      cursor: pointer;
    }

    .profile-img {
      margin-right: 12px;
      margin-left: 20px;
      cursor: pointer;

      img {
        width: 55px;
        height: 55px;
        border-radius: 50%;
      }
    }

    .dropdown {
      border: 1px solid colors.$grey_300;
      border-radius: 20px;
      display: flex;
      align-items: center;
      gap: 17px;
      width: 100%;
      padding: 8.5px 12px 8.5px 24px;
      cursor: pointer;

      img {
        width: 12px;
        height: 8px;
      }

      &-text {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.4px;
        color: colors.$grey_200;
        margin-bottom: 0;
      }
    }
  }
}
